{% extends "web_interface/template.html" %}

{% block title %} Welcome {% endblock  %}

<div class="col-sm-4 feature">		
            <!-- The register modal -->
            <div class="modal fade" id="RegisterModal">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                    <form class="form-horizontal" method="post" action="register">
                                            <div class="modal-header">
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                    
                                                    <h4 class="modal-title">Register for Crime_loud </h4>
                                            </div><!-- end modal-header -->
                                            <div class="modal-body">
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="idNum">ID No: </label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerID" id="registerID" placeholder="Enter 13-digit ID number or Passport number here" type="text"/>
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                            
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerName">Name: </label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerName" id="registerName" type = "text"/>
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerSurname">Surname: </label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerSurname" id="registerSurname"  type="text">
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerCell">Cell:</label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerCell" id="registerCell"  type="text">
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerEmail">Email: </label>
                                                            <div class="col-lg-10">
                                                                    <input type="email" name = "registerEmail" id="registerEmail" class="form-control">
                                                            </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerPassword">Password: </label>
                                                            <div class="col-lg-10">
                                                                    <input type="password" name = "registerPassword" id="registerPassword" placeholder = "Create a password that can log you into the system in future"class="form-control">
                                                            </div>
                                                    </div>
                                                    
                                            </div><!-- end modal-body -->
                                            <div class="modal-footer">
                                                    <input class="btn btn-default" data-dismiss="modal" type="submit" value='submit'>
                                                    <input  class="btn btn-primary" type="submit" value='Submit'/>
                                            </div><!-- end modal-footer -->
                                    </form>
                            </div><!-- end modal-content -->
                    </div><!-- end modal-dialog -->
    </div>	
</div>