

{% block content %}
<div class="row" id="registerOrUpload">
    <!--<div class="col-md-12">
            
            <div class="well">
                    <div class="page-header">
                            <h1>Register as a member <small>Registering helps with verification of uploads</small></h1>
                    </div><!-- end page-header 
                    
                    <p class="lead">Take a Picture, audio or video of an incident</p>
                    
                    <a class="btn btn-large btn-primary" href="/takePhoto" role="button" data-toggle="modal">Take an image</a>
                    <a href="#LoginModal" role="button" class="btn btn-large btn-default" data-toggle="modal" >Login to upload</a>
                    <a href="#" class="btn btn-large btn-link">or upload anonymously</a>
            </div><!-- end well -->
            
    </div><!--end col-md-12-->
    <div class="col-md-12">
            
            <div class="well">
                    <div class="page-header">
                            <h1>Register as a member <small>Registering helps with verification of uploads</small></h1>
                    </div><!-- end page-header -->
                    
                    <p class="lead">Register as a member on the site in order to not only track your uploads, but to
                    also be able to be reached regarding an upload and potentially be notified in the case of your
                    upload helping to solve a case.</p>
                    
                    <a class="btn btn-large btn-primary" href="#RegisterModal" role="button" data-toggle="modal">Register as a new user</a>
                    <a href="#LoginModal" role="button" class="btn btn-large btn-default" data-toggle="modal" >Login to upload</a>
                    <a href="#" class="btn btn-large btn-link">or upload anonymously</a>
            </div><!-- end well -->
            
    </div><!-- end col-md-12 -->
    
    <div class="col-sm-feature">
        <!-- The login modal -->
        <div class="modal fade" id="LoginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" method="post" action="login">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            
                            <h4 class="modal-title">Login to Crime_loud </h4>
                        </div><!-- end modal-header -->
                        
                        <div class="modal-body">
                            <div class="form-group">
                                    <label class="col-lg-2 control-label" for="loginEmail">Enter Email: </label>
                                    <div class="col-lg-10">
                                            <input class="form-control" name = "loginEmail" id="loginEmail" type="email">
                                    </div><!-- end col-lg-10 -->
                            </div><!-- end form-group -->
                                    
                            <div class="form-group">
                                    <label class="col-lg-2 control-label" for="loginPassword">Enter Password: </label>
                                    <div class="col-lg-10">
                                            <input class="form-control" name = "loginPassword" id="loginPassword" type = "password">
                                    </div><!-- end col-lg-10 -->
                            </div><!-- end form-group -->
                            
                        </div> <!-- end modal-body -->
                        
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                            <button  class="btn btn-primary" type="submit">Submit</button>
                        </div><!-- end modal-footer -->
                        
                    </form>
    
                </div>   
            </div>  
        </div>
    </div>
    <div class="col-sm-4 feature">		
            <!-- The register modal -->
            <div class="modal fade" id="RegisterModal">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                    <form class="form-horizontal" method="post" action="register">
                                            <div class="modal-header">
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                    
                                                    <h4 class="modal-title">Register to use Crime_loud </h4>
                                            </div><!-- end modal-header -->
                                            <div class="modal-body">
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="idNum">ID No: </label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerID" id="registerID" placeholder="Enter 13-digit ID number or Passport number here" type="text"/>
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                            
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerName">Name: </label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerName" id="registerName" type = "text"/>
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerSurname">Surname: </label>
                                                            <div class="col-lg-10">
                                                                    <input class="form-control" name = "registerSurname" id="registerSurname"  type="text">
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerEmail">Email: </label>
                                                            <div class="col-lg-10">
                                                                    <input type="email" name = "registerEmail" id="registerEmail" class="form-control">
                                                            </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-2 control-label" for="registerPassword">Password: </label>
                                                            <div class="col-lg-10">
                                                                    <input type="password" name = "registerPassword" id="registerPassword" placeholder = "Create a password that can log you into the system in future"class="form-control">
                                                            </div>
                                                    </div>
                                                    
                                            </div><!-- end modal-body -->
                                            <div class="modal-footer">
                                                    <input class="btn btn-default" data-dismiss="modal" type="submit" value='submit'>
                                                    <input  class="btn btn-primary" type="submit" value='Submit'/>
                                            </div><!-- end modal-footer -->
                                    </form>
                            </div><!-- end modal-content -->
                    </div><!-- end modal-dialog -->
    </div>	
</div><!-- end registerOrUpload -->
{% endblock  %}



