{% extends "web_interface/template.html" %}

{% block title %} Welcome {% endblock  %}
{% block navbar %}
<div class= "navbar navbar-default navbar-fixed-top">
    <div class="container">
            <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse" type="button" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Neigbourhood Watch</a>
            </div><!-- end navbar-header -->

            <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                            <li class="active">
                                    <a href="/backHome">Home</a>
                            </li>
                    </ul><!-- end navbar-left -->
                    <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/viewProfile" >
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{ name }} {{ surname }}</span>
                                </a>
                            </li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>        
                            
                    </ul><!-- end navbar-right -->
            </div><!-- end navbar-collapse -->
    
    </div><!-- end container -->
</div><!--End of Navigation bar-->
{% endblock %}

{% block carousel%} {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row" id="displayInfoAndUploads">
        <div class="col-sm-6 feature">
            <div class="panel panel-success">
              <!-- Default panel contents -->
              <div class="panel-heading">Personal Information</div>
              
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Name: {{ name}} {{ surname}} </li>
                <li class="list-group-item">ID: {{ userID}}</li>
                <li class="list-group-item">Cell: {{ cell }}</li>
                <li class="list-group-item">Email: {{ email }} </li>
              </ul>
            </div>
        </div>
        
        <div class="col-sm-6 feature">
        
            <div class="panel panel-success">
              <!-- Default panel contents -->
              <div class="panel-heading">Image Uploads</div>
              
              <!-- List group -->
              <ul class="list-group">
            {% for upload in photoUploads %}
                <li class="list-group-item">{{ upload.0 }}: {{ upload.1 }} </li>
            {% endfor %}
              </ul>
            </div>
            
            <div></div>
        
            <div class="panel panel-success">
              <!-- Default panel contents -->
              <div class="panel-heading">Video Uploads</div>
              
              <!-- List group -->
              <ul class="list-group">
            {% for upload in videoUploads %}
                <li class="list-group-item">{{ upload.0 }}: {{ upload.1 }} </li>
            {% endfor %}
              </ul>
            </div>
            
            <div></div>
            
            <div class="panel panel-success">
              <!-- Default panel contents -->
              <div class="panel-heading">Audio Uploads</div>
              
              <!-- List group -->
              <ul class="list-group">
            {% for upload in audioUploads %}
                <li class="list-group-item">{{ upload.0 }}: {{ upload.1 }} </li>
            {% endfor %}
              </ul>
            </div>
            
        </div>
    </div>

</div>

{% endblock %}