{% extends "web_interface/template.html" %}

{% block title %} Welcome {% endblock  %}
{% block navbar %}
<div class= "navbar navbar-default navbar-fixed-top">
    <div class="container">
            <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse" type="button" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Neigbourhood Watch</a>
            </div><!-- end navbar-header -->

            <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                            <li class="active">
                                    <a href="/backHome">Home</a>
                            </li>
                            <li><a href="/Documentations">View Documentation</a></li>
                            <li><a href="/documentation">First Respondant</a></li>  
                    </ul><!-- end navbar-left -->
                    <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/viewProfile" >
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{ name }} {{ surname }}</span>
                                </a>
                            </li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>        
                            
                    </ul><!-- end navbar-right -->
            </div><!-- end navbar-collapse -->
    
    </div><!-- end container -->
</div><!--End of Navigation bar-->
{% endblock %}

{% block carousel%} {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row" id="displayInfoAndUploads">
        <div class="col-sm-12 feature">
        <h2 style="text-align: center; color: #151B54;"><b>This is the potential digital evidence uploaded by the community related to {{case_name}} {{case_number}}</b></h2><br/>
        {%if type == 1%}
        <div class="col-sm-4 feature">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #151B54; text-align: center; color:white;">Images Uploaded on the {{date}}</div>
                 <div class="list-group" style="max-height: 300px; overflow-y: auto; overflow-x:hidden; text-align: center;">
                    {%for image in images%}
                        <a href="view_image/{{image.id}}" class="list-group-item">{{image.title}} : {{image.data}}</a>  
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-sm-4 feature">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#151B54; text-align: center; color:white;">Audio Uploaded on the {{date}}</div>
                <div class="list-group" style="max-height: 400px; overflow-y: auto; overflow-x:hidden; text-align: center;">
                    {%for aud in audio%}
                        <a href="view_audio/{{aud.id}}" class="list-group-item">{{aud.title}} : {{aud.data}}</a>  
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-sm-4 feature">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #151B54; text-align: center; color:white;">Video Uploaded on the {{date}}</div>
                 <div class="list-group" style="max-height: 300px; overflow-y: auto; overflow-x:hidden; text-align: center;">
                    {%for vid in video%}
                        <a href="view_video/{{vid.id}}" class="list-group-item">{{vid.title}} : {{vid.data}}</a>  
                    {%endfor%}
                </div>
            </div>
        </div>
        {%else%}
            <h4 style="text-align: center;">currently there are no potential digital evidence relevent to this case, according to the system searching criteria.
            </h4>
        {%endif%}
        <div class="col-sm-4 feature">		
            <!-- The register modal -->
            <div class="modal fade" id="CreateCase">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                    <form class="form-horizontal" method="post" action="/add_case" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                    
                                                    <h4 class="modal-title">Create a new Case</h4>
                                            </div><!-- end modal-header -->
                                            <div class="modal-body">
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="idNum">Case Name: </label>
                                                            <div class="col-lg-9">
                                                                    <input class="form-control" name = "name" id="registerID" placeholder="Enter 13-digit ID number or Passport number here" type="text"/>
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                            
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="registerName">Case Number: </label>
                                                            <div class="col-lg-9">
                                                                    <input class="form-control" name = "number" id="registerName" type = "text"/>
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="registerSurname">Title: </label>
                                                            <div class="col-lg-9">
                                                                    <input class="form-control" name = "title" id="registerSurname"  type="text">
                                                            </div><!-- end col-lg-10 -->
                                                    </div><!-- end form-group -->
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="registerEmail" rows="4" >Description: </label>
                                                            <div class="col-lg-9">
                                                                    <textarea  name = "description" id="registerEmail" class="form-control"></textarea>
                                                            </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="registerPassword">Location: </label>
                                                            <div class="col-lg-9">
                                                                    <input type="text" name = "location" id="location" placeholder = "Create a password that can log you into the system in future"class="form-control">
                                                            </div>
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="registerPassword">Crime Scene Date: </label>
                                                            <div class="col-lg-9">
                                                                    <input type="text" name = "date" id="location" placeholder = "Create a password that can log you into the system in future"class="form-control">
                                                            </div>
                                                    </div>
                                                    <div class="form-group">
                                                            <label class="col-lg-3 control-label" for="imageFileUpload">File input</label>
                                                            <input type="file" id="imageFileUpload" name="imageFileUpload" required='required'>
                                                            <p class="help-block">List types of images files to be uploaded.</p>
                                                    </div>
                                                    
                                            </div><!-- end modal-body -->
                                            <div class="modal-footer">
                                                    <input class="btn btn-default" data-dismiss="modal" type="submit" value='Close'>
                                                    <input  class="btn btn-primary" type="submit" value='Submit'/>
                                            </div><!-- end modal-footer -->
                                    </form>
                            </div><!-- end modal-content -->
                    </div>
    </div>
</div>
{% endblock %}

